    <div class="flex justify-left p-4 m-4 rounded">
        <div id="knobSpinner-container" class="text-white text-xl text-center px-4 py-2 m-2">
          
        </div>
        <div id="heartRateCount" class="text-white text-xl text-center px-4 py-2 m-2">
          
        </div>
    </div>
    <div>

        <div id="content-wrapper">
            <div id="waveforms-container" class="justify-left bg-black-100 border-black-100 border-b rounded"></div>
            <table id="numeric-container">
                <tr class="numeric__header">
                    <td>ECG</td>
                </tr>
                <tr class="numeric__value numeric__value--hr">
                    <td id="hr">90</td>
                </tr>
                <tr class="numeric__header">
                    <td>BP mmHg</td>
                </tr>
                <tr class="numeric__value numeric__value--bp">
                    <td>
                        <span id="bpSys">103</span>
                        <br/>
                        <span id="bpDia">67</span>
                        <span id="bpMean" class="left-label">(93)</span>
                    </td>
                </tr>
                <tr class="numeric__header">
                    <td>SpO2 %</td>
                </tr>
                <tr class="numeric__value numeric__value--spo2">
                    <td>
                        <span id="spo2">97</span>
                        <br/>
                        <span id="pr">90</span>
                    </td>
                </tr>
                <tr class="numeric__header">
                    <td>ETCO2 mmHg</td>
                </tr>
                <tr class="numeric__value numeric__value--co2">
                    <td>
                        <span id="etco2">36</span>
                        <br/>
                        <span id="rr">12</span>
                        <span class="left-label">RR</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    