




#content-wrapper {
    width: 950px;
    height: 600px; 
    position: relative;
    display: flex;
}

#waveforms-container {
    float: left;
    background-color: #000;
}

#numeric-container {
    background-color: #333333;
    float: left; 
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-size: 40px;
    height: 100%;
    width: 150px;
}

.numeric__header {
    height: 10px;
    font-size: 16px;
}

.numeric__header td {
    background-color: black;
    padding: 5px;
}

.numeric__value {
    height: 115px;
    font-size: 36px;
    text-align: right;
}

.numeric__value--hr {
    text-align: center;
    font-size: 46px;
    color: #00FF00;
}

.numeric__value--bp {
    color: #FF0000;
}

.numeric__value--spo2 {
    color: #FFFF00;
}

.numeric__value--co2 {
    color: #FFFFFF;
}

.numeric__value .left-label {
    float: left;
    font-size: 20px;
    margin-top: 15px;
}